# Maven target folder
target/

#chatbot key
src/main/resources/key

# IDE settings
.vscode/
.idea/
*.iml
.classpath
.project
.settings/

# OS files
.DS_Store

# Maven dependency reduction
dependency-reduced-pom.xml